<nav class="navbar navbar-light bg-faded">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                 <!-- <img src="assets/img/ngx-bootstrap.svg" class="logo"> -->
                </a>
                <span class="navbar-brand">Lodz Fitness Center</span>
            </div>

        
                    <ul class="nav navbar-nav">
                        <li><a class="nav-link"  routerLink="/dashboard">Dashboard</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                            <li><a class="nav-link" routerLink="/login">Login</a></li>
                            <li><a class="nav-link" routerLink="/userDetail">User(you)</a></li>
                     </ul>
    
        </div>
    </nav>

    <router-outlet></router-outlet>